<form method="post" action="{{ path('app_recruter_delete', {'id': recruter.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete your profile ?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recruter.id) }}">
    <button class="btn deleteButton">{% trans %}Delete{% endtrans %}</button>
</form>
