{% extends 'base.html.twig' %}

{% block title %}Edit Recruter{% endblock %}

{% block body %}
    <h1>Edit Recruter</h1>

    {{ include('recruter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_candidate_index') }}">back to list</a>

    {{ include('recruter/_delete_form.html.twig') }}
{% endblock %}
