{% extends 'base.html.twig' %}

{% block title %}New Recruter{% endblock %}

{% block body %}
    <div class="containerIndex">
        <div class="titleAndButton">
            <h1 class="titleIndex">Create your profile</h1>
            <a class="btn profileButton" href="{{ path('app_candidate_index') }}">back to list</a>
        </div>
        <h2 class="subtitleNewProfile" >create your profile so that candidates can know your offer </h2>
        

        {{ include('recruter/_form.html.twig') }}
        
    </div>
{% endblock %}
