body {
    height: 100%;
    width: 100%;
}

.containerPageRegister {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.RegisterInformation{
    font-size: 30px;
    line-height: 35px;
}

.registerSubtitle {
    font-size: 16px;
    line-height: 20px;
}

.welcomeRegister {
    background-color:  #62748D;
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.containerRegister {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #3D4E63;
   padding: 2rem;
   width: 60%;
   height: 100%;
   color: white
}  

.formRegistration{
    display: flex;
    flex-direction: column;
    margin: 1rem;   
}

.formRegistrationType {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.formRegistrationType input {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.buttonRegister {
    background-color: #96ABC6;
    color: white;
    width: 100%;
}

form {
    width: 60%;
}

h1 {
    font-size: 20px;
}

