body {
   
}

.containerRegister {
   margin: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.formRegistration{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}