
{% block body %}
    <div style="display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2rem; 
                color: #3D4E63;"
    >
        <img class="errorPicture" style="width: 35rem" 
            src="{{ asset('images/error.jpg') }}"
        />
        <h1 style="font-size: 40px; font-weight: 800; margin: 0">
            Error 500
        </h1>

        <p style="font-size: 16px;">
            Oups... an error occured. Please return to the home page
        </p>
        <a style="background-color: #3D4E63;
                color: white; 
                border: none;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 5px"
            href="{{ path('home') }}"
        >
            homepage
        </a>
    </div>
{% endblock %}