{% extends 'base.html.twig' %}

{% block title %}{% trans %}Candidates list{% endtrans %}{% endblock %}

{% block body %}
    <div class="containerIndex">
        <div class="titleAndButton">
            <h1 class="titleIndex">{% trans %}Discover our candidates{% endtrans %}</h1>
            {% if not app.user.hasProfile() %}
                <a class="btn profileButton" href="{{ path('app_recruter_new') }}">Créer mon profil</a>
            {% else %}
                <a class="btn profileButton" href="{{ path('app_recruter_edit', {'id': app.user.recruter.id}) }}">{% trans %}Edit my profile{% endtrans %}</a>
            {% endif %}
        </div>
        <div class="containerCards">
            {% for candidate in candidates %}
                {{  include('candidate/_profil_card.html.twig') }}
            {% else %}
                <tr>
                    <td colspan="8">{% trans %}No candidates found{% endtrans %}</td>
                </tr>
            {% endfor %}
        </div>
    </div>
    <div class="containerIndex">
        <div class="titleAndButton">
            <h2 class="titleIndex">{% trans %}Candidates who liked me{% endtrans %}</h2>
        </div>
        <div class="containerCards">
            {% for like in recrutersWhoLikedCandidate  %}
                {% include 'candidate/_profil_card.html.twig' with {'candidate': like.candidate} %}
            {% else %}
                <tr>
                    <td colspan="8">{% trans %}No candidate found{% endtrans %}</td>
                </tr>
            {% endfor %}

        </div>
    </div>

{% endblock %}
